# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

android/app/src/main/assets/config.properties
android/.gradle/buildOutputCleanup/
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock

app.config.js

tests/

.cursor/

.env

dev_mds/archive/

OpenWakeWord-Research/

openWakeWord/

android/app/release/app-release.aab
Mobile_Jarvis_React_Native_TAC_Submission_20250817_195356.zip
SAQ_Responses.md
TAC_vulnerabilties.md
TAC_vulnerabilties.md
TAC.md
ios/MobileJarvisNative.xcodeproj/project.pbxproj
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/vcs-1/gc.properties
ios/MobileJarvisNative.xcodeproj/project.pbxproj
